venv/
venv
.DS_Store
./slurm-%j.out
data_centre/.env
data_centre/tmp
data_centre/tmp/
data_centre/databases
data_centre/databases/
.idea/
.idea
__pycache__
correct_commit.sh
figures/*.png
figures/*.pdf
test*.py
code_to_be_further_investigated.py
*.csv
executables/main_UAM.sh
.env
