venv/
venv
.DS_Store
./slurm-%j.out
data_centre/.env
data_centre/tmp
data_centre/tmp/
data_centre/databases
data_centre/databases/
model/*.csv
test.py
test2.py
.png
.csv
.idea/
.idea
__pycache__
correct_commit.sh
plots/tmp
plots/tmp/
plots/*.png
minutelyTARDIS.sh
data_centre/*tardis*
data_centre/prices_sample
